:root {
  --color-white: #fff;
  --color-black: #222;
  --color-base-font: var(--color-black);
  --color-link-font: #64b4ce;
  --color-link-focused-font: #3ea1c1;
  --color-page-header-bg: var(--color-white);
  --color-page-footer-bg: var(--color-black);
  --color-page-footer-font: var(--color-white);
}
